.dorsetdigital__elements__faqelement {

  .faq__question {
    button {
      background: transparent;
      border: none;
      color: inherit;
      font-weight: 700;
      font-size: 1.2em;
      cursor: pointer;
      padding-bottom: 5px;
    }
  }

  .faq__answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;

    &.expanded {
      max-height: 500px;
    }
  }
}