.dorsetdigital__elements__faqelement {

  .faq__question {
    button {
      background: transparent;
      border: none;
      color: inherit;
      font-weight: 700;
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}